@charset "UTF-8";
html *{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .guide {
    border: 1px #ccc solid;
    padding: 20px;
    margin-bottom: 24px;
    background-color: #f9f6f6;
    border-radius: 4px;

}
.container .guide ol{
    margin-left: 36px;

}
.container .form{
    width: 504px;
    border: 1px #ccc  solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    background-color: #f9f6f6;
    border-radius: 4px;

}
.container .form label{
    margin-bottom: 8px;
}
.container .form #email{
    width: 80%;
    height: 20px;
    margin-bottom: 20px;
    border: 1px #ccc solid;
    outline-color: #ccc;
    padding: 2px 4px;
    border-radius: 4px;
}
.container .form .btn-submit{
    padding: 6px 12px;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    border-radius: 4px;
    font-size:medium;
}
.container .form .btn-submit:hover{
    cursor: pointer;
    opacity: 0.7;
}

