@charset "UTF-8";
html *{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    background-color: rgb(245, 245, 250);
}
body a{
    text-decoration: none;
    color: #333;
}
.header {
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 8px;
}
.header .logo{
    height: 100%;
    margin-right: 32px;
    margin-left: 200px;
}
.header .logo:hover{
    cursor: pointer;
}
.header .separator{
    height: 80%;
    border: 1px #ccc solid;
    margin-right: 50px;
}
.header .title{
    color: #1aa7ff;
    white-space: nowrap;
}
.header .contact{
    height: 80%;
    margin-left: 400px;
}

/* =============End header==================== */
.body{
    margin: 30px 100px;
    
    min-height: calc(100vh - 100px);
    
}
.body .title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;

}
.body .content {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}
.body .content .left .total{
    background-color: #fff;
    padding: 9px 16px;
    border-radius: 4px;
    color: rgb(36, 36, 36);
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 12px;
    top: 105px;
    z-index: 99;
    display: grid;
    grid-template-columns: 398px 190px 130px 130px 30px;
    -webkit-box-align: center;
    align-items: center;
} 
#delete-all:hover, #total-checkbox{
    cursor: pointer; 
}
.body .content .left .card-detail{
    border: #ccc 1px solid;
    border-radius: 8px;
    background-color: #fff;
}
.body .content .left .detail {
    padding: 20px 12px 30px 16px;
    margin: 32px 0 0 0 ;
    height: fit-content;
    display: grid;
    grid-template-columns: 398px 190px 130px 130px 30px;
    -webkit-box-align: center;
    align-items: center;
    
    font-size: 13px;

}
.left .detail .col1{
    display: flex;
    flex-direction: row;
}
.left .detail .col1 .check-buy{
	cursor: pointer;
}
.left .detail .col1 .book-buy{
    width: 80px;
}
.left .detail .col1 .book-name{

}
.left .detail .col3{
    margin-top: 40px;
    margin: 0;
}

.left .detail .col4{
    color: #FF424E;
}

/*  ========end left ==========    */
.body .content .right{
    margin-left: 16px;
    display: block;
    width:300px;
}
.body .content .right .delivery{
    background-color: #fff;
    border-radius: 4px;
}
.right .delivery .header-delivery{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    margin-bottom: 24px;
    padding: 8px;
}
.right .delivery .header-delivery .sub-title{
    font-weight: 500;
}
.right .delivery .header-delivery .change-address{
    color: #0B74E5;
}
.right .delivery .name{
    padding: 10px;
}

.right .price{
    margin-top: 20px;
    background-color: #fff;
} 
.right .price ul{ 
    list-style-type: none;
    padding: 8px;
} 
.right .price li{ 
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
} 
.right .separator{
    border: 1px #ddd solid;
    margin: 10px 0;
}
.right .total-price{
    background-color: #fff;
    margin-bottom: 20px;
}
.right .total-price .total-price-val{
    display: flex;
    justify-content: space-between;
    padding: 20px 8px;

}
.right .buy .btn-buy{
    height: 50px;
    width: 100%;
    background-color: #84b7ee;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
/*          end right           */

/* =============End body==================== */
.footer{
    background: rgb(235, 235, 240);
    font-size: 11px;
    line-height: 16px;
    padding: 40px 0 50px;
    /* height: 200px; */
}
.footer .footer-content{
    margin: 0 120px;
    padding: 0 15px;
}
.footer .footer-content .separate{
    margin: 0 10px;
    border: 1px #ccc solid;
    height: 90%;
}
.footer .copy-right{
    margin-top: 16px;
}